%head
  %meta(charset='utf-8')
  %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
  %meta(content='initial-scale=1, maximum-scale=1' name='viewport')
  %title= current_page.data.title || 'Kevin Pruett | Designer & Developer'
  = partial 'favicons'
  = partial 'og'
  = partial 'webfont'
  = partial 'ga'
  = stylesheet_link_tag 'styles'
  = javascript_include_tag 'scripts'
